
.container {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: 75%;
    margin: 1% auto;
}

.child {
    display: flex;
    justify-content: space-evenly;
    gap: 0.7rem;
}

nav {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

nav,
footer {
    background-color: #F0EFEE;
    padding: 0.5%;
}

.div_child {
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 50%;
    text-align: center;
    flex-flow: column wrap;
    justify-content: space-between;
}

.text {
    word-break: break-all;
    line-height: 1.6;
    margin: 2%
}

